@model TestDoAn.Models.SanPham

@{
    ViewData["Title"] = "Thêm Sản Phẩm";
}

<h2>Thêm Sản Phẩm</h2>

<form asp-action="ThemSanPham" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Tên sản phẩm</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label">Giá</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SoLuong" class="control-label">Số lượng</label>
        <input asp-for="SoLuong" class="form-control" />
        <span asp-validation-for="SoLuong" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label">Đường dẫn ảnh</label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Category" class="control-label">Loại sản phẩm</label>
        <input asp-for="Category" class="form-control" />
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Thêm</button>
    <a asp-action="QuanLySanPham" class="btn btn-secondary">Quay lại</a>
</form>
